body{
    background: linear-gradient(-90deg,#EE7752,red,orange,red);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite
}
.card{
    margin-top:20px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    margin: 10px;
    background-color: rgb(226, 140, 59);
    
    
}
.card-text{
    color: rgb(255, 255, 255);
    font-size: larger;
    text-shadow:black;
    box-shadow: 10pc;
    
    
    
}
.nav-item{
    text-transform: uppercase;
    font-family: Verdana;
}

@keyframes change {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }

   100%{
        background-position: 0% 50%;
    }
}


