



 body{
    background-image:url("https://thumbs.dreamstime.com/z/striped-store-awning-shop-marketplace-cafe-restaurant-red-white-canopy-roof-flat-design-yellow-background-vector-77958353.jpg") ;
    background-size: 100%;
    margin-bottom: 500px;
}   



.container{
    justify-content: center;
    margin-top: 170px;
    
};

